
/* ul li:nth-child(1){
    font-family: 'Roboto';
}
ul li:nth-child(2){
    font-family: 'Playfair Display';
}ul li:nth-child(3){
    font-family: 'Hammersmith One';
} */

html{
    font-size: 62.25%;
}

.btn-outline{
    font-family: 'Hammersmith One';
    font-size: 1.6rem;
    text-transform: uppercase;
    background-color: transparent;
    min-width: 14rem;
    padding: 1.4rem;
    outline: none;
    border: 0.1rem solid #00e0d0;
    color: #00e0d0;
    border-radius: 0.25rem;
    line-height: 1.2rem;
}

.overlay{
    background-image: linear-gradient(to right, #09052f, #311d5e);
    position: absolute;
    width: 100%;
    height: inherit;
    top: 0;
    left: 0;
    opacity: 0.85;
}

h2{
    font-family: 'Playfair Display';
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2.2rem;
    letter-spacing: 0.11rem;
    color: #413d4b;
    margin-top: 7rem;
    margin-bottom: 0;
}

/*--------------------------
    HEADER
---------------------------*/

header{
    background-image: url('../images/header_image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    position: relative;    
}

header .navbar-brand{
    padding: 0;
    margin: 0;

    font-size: 3rem;
    font-family: "Roboto";
    font-weight: 100;
    text-transform: none;
}

header .navbar-brand img{
    display: inline-block;
    height: 5rem;
    width: 5rem;
}

header .navbar-brand span{
    background-image: linear-gradient(to right, #00e0d0, #4aa3cc); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 1.5rem;
    display: inline-block;
}

header .navbar-inverse{
    background-color: transparent;
    border: none;    
    padding: 1.5rem 0;
}

header .navbar-inverse #myNavbar a{
    text-transform: uppercase;
    font-family: "Roboto";
    font-weight: 900;
    font-size: 1.3rem;
    color: white;
    letter-spacing: 0.0325rem;
}

header .navbar-inverse #myNavbar a.select{
    color: #00e0d0;
}

header h1{
    font-family: 'Playfair Display';
    color: white;
    font-weight: 900;
    font-size: 3.2rem;
    letter-spacing: 0.032rem;

    margin-top: 18rem;
}

header h1:after{
    content: "";
    display: block;
    margin:0 auto;
    width: 5rem;
    height: 0.1rem;
    margin-top:2.4rem;
    margin-bottom:2.4rem;
    
    background-color: #00e0d0;
}    

header p{
    font-family: 'Roboto';
    color: white;
    font-weight: 300;
    font-size: 1.4rem;
    letter-spacing: 0.07rem;
    line-height: 2.4rem;
}

header .slide{
    margin-top: 5rem;
}

header .slide ul{
    padding: 0;
    margin-top: 12.5rem;
    margin-bottom: 7rem;
}

header .slide ul li{
    color:white;
    display: inline-block;
    margin-left: .25rem;
    margin-right: .25rem;
}

header .slide ul a{
    display: block;
    border-radius: 4.5rem;
    width: 1rem;
    height: 1rem;

    background-color: transparent;
    border: .1rem solid #bbbabc;
    cursor: pointer;
}    

header .slide ul a.select{
    border: none;
    background-color: #00e0d0;
}

/*--------------------------
    ABOUT
---------------------------*/

#about img{
    margin-top: 7rem;
}

#about p{
    font-family: 'Roboto';
    color: #413d4b;
    font-weight: 300;
    font-size: 1.4rem;
    letter-spacing: 0.042rem;
    line-height: 2.2rem;
    margin-top: 3rem;
}

#about button{
    margin-top: 3rem;
    margin-bottom: 7rem;

}

.video{
    background-image: url('../images/video_content_image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    position: relative;
    
    padding-top: 20rem;
    padding-bottom: 20rem;
}

#about .video img,
#about .video p{
    margin: 0;
    font-family: 'Hammersmith One';
    text-transform: uppercase;
    color: white;
    font-size: 1.6rem;
    letter-spacing: 0.008rem;
    margin-top: 3.5rem;
}

/*--------------------------
    EXPRETISE
---------------------------*/

#expertise .row:first-child,
#expertise .row:last-child{
    margin-bottom: 5rem;
}

#expertise .row .col-sm-4{
    padding: 0;
}

#expertise .row .col-sm-4:nth-child(2){
    border-right: 0.1rem solid #ebebeb;
    border-left: 0.1rem solid #ebebeb;
}

#expertise .row:last-child .col-sm-4{
    border-top: 0.1rem solid #ebebeb;
}

#expertise h2{
    margin-bottom:1.5rem;
}    

#expertise h2 + p{
    font-family: 'Playfair Display';
    font-weight: 400;
    font-size: 1.4rem;
    letter-spacing: 0.105rem;
    color: #413d4b;
}

#expertise h2 + p:after{
    content: "";
    display: block;
    margin:0 auto;
    width: 5rem;
    height: 0.1rem;
    margin-top:1.5rem;
    
    background-color: rgba(0,0,0,0.2);
}   

#expertise figure{
    padding: 4rem 4.5rem;
    margin: 0;
}

#expertise figure h3{
    margin-top: 3rem;
    font-family: 'Roboto';
    font-weight: 900;    
    letter-spacing: 0.07rem;
    font-size: 1.4rem;
    color: #413d4b;
}

#expertise figure p{
    margin-top: 2.5rem;
    font-family: 'Roboto';
    font-weight: 300;    
    color: #413d4b;
    line-height: 2.2rem;
    color: #413d4b;
    letter-spacing: 0.07rem;
}    

/*--------------------------
    TEAMS
---------------------------*/
#teams{
    background-image: url('../images/team_image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    position: relative;
    
    padding-bottom: 6.5rem;
}

#teams h2{
    color: white;
}

#teams h2 + p{
    font-family: 'Playfair Display';
    font-weight: 400;
    font-size: 1.4rem;
    letter-spacing: 0.105rem;
    color: #f9f9f9;

    margin-top: 2rem;
}

#teams h2 + p:after{
    content: "";
    display: block;
    margin:0 auto;
    width: 5rem;
    height: 0.1rem;
    margin-top:2rem;
    
    background-color: rgba(255,255,255,0.2);
}  

#teams figure{
    margin-top: 3rem;
    border: 0.1rem solid rgba(255,255,255,0.5);
}

#teams figure img{
    width: 100%;
    height: 30rem;
    background-color: white;
}

#teams figcaption h3{
    text-transform: uppercase;
    font-family: "Roboto";
    font-weight: 900;
    font-size: 1.4rem;
    color: white;
    letter-spacing: 0.07rem;
}

#teams figcaption p{
    text-transform: uppercase;
    font-family: "Roboto";
    font-weight: 300;
    font-size: 1.3rem;
    color: #fafafa;

    margin-bottom: 2.5rem;
}

#teams .caption p{
    margin-top: 7rem;
    margin-bottom: 3rem;

    font-family: "Roboto";
    font-weight: 300;
    font-size: 1.4rem;
    color: white;
    letter-spacing: 0.07rem;
}

/*--------------------------
    WORKS
---------------------------*/

#works .col-sm-2,
#works .row{
    margin:0; 
    padding: 0;
}

#works h2{
    margin-bottom: 7rem;
}

#works a{
    margin-top: 7rem;
    
    font-family: "Roboto";
    font-weight: 300;
    font-size: 1.4rem;
    color: #413d4b;
    letter-spacing: 0.07rem;


}

#works a:hover{
    text-decoration: none;
    cursor: pointer;
}    
#works a b{
    line-height: 1rem;
    vertical-align: -20%;
    font-size: 2.5rem;
}    

#works .btn-outline{
    margin-top: 7rem;
    margin-bottom: 7rem;
}

/*--------------------------
    TESTIMONIALS
---------------------------*/

#testimonials{
    background-image: url('../images/testimonials_image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    position: relative;
    
    padding-top: 7rem;
    padding-bottom: 7rem;
    color: white;
}

#testimonials h3{
    font-size: 10rem;
    margin-top: 0;
    font-family: 'Playfair Display';
    font-weight: 400;
    letter-spacing: 0.3rem;
    margin-bottom: 0;
}    

#testimonials p{
    font-family: 'Playfair Display';
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.6rem;
    letter-spacing: 0.04rem;

    padding: 0 8.5rem;
    margin-bottom: 5rem;
}    

#testimonials h4{
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 0.07rem;

    margin-bottom: 1rem;
}    

#testimonials h4 + p{
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 1.3rem;
    text-transform: uppercase;
} 

#testimonials img{
    margin: 0 0.7rem;
}

#testimonials a{
    display: inline-block;
    color: white;
    cursor: pointer;
    font-size: 2.5rem;
    line-height: 1;
    vertical-align: -20%;
}

#testimonials a:hover{
    text-decoration: none;
}

/*--------------------------
    CONTACT
---------------------------*/

#contact img{
    display: block;
}