
/* ul li:nth-child(1){
    font-family: 'Roboto';
}
ul li:nth-child(2){
    font-family: 'Playfair Display';
}ul li:nth-child(3){
    font-family: 'Hammersmith One';
} */

html{
    font-size: 62.25%;
}

.btn-outline{
    font-family: 'Hammersmith One';
    font-size: 1.6rem;
    text-transform: uppercase;
    background-color: transparent;
    width: 12rem;
    height: 4rem;
    outline: none;
    border: 0.1rem solid #00e0d0;
    color: #00e0d0;
    border-radius: 0.25rem;
}

/*--------------------------
    HEADER
---------------------------*/

header{
    background-image: url('../images/header_image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    position: relative;    
}

header .overlay{
    background-image: linear-gradient(to right, #09052f, #311d5e);
    position: absolute;
    width: 100%;
    height: inherit;
    top: 0;
    left: 0;
    opacity: 0.85;
}

header .navbar-brand{
    padding: 0;
    margin: 0;

    font-size: 3rem;
    font-family: "Roboto";
    font-weight: 100;
    text-transform: none;
}

header .navbar-brand img{
    display: inline-block;
    height: 5rem;
    width: 5rem;
}

header .navbar-brand span{
    background-image: linear-gradient(to right, #00e0d0, #4aa3cc); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 1.5rem;
    display: inline-block;
}

header .navbar-inverse{
    background-color: transparent;
    border: none;    
    padding: 1.5rem 0;
}

header .navbar-inverse #myNavbar a{
    text-transform: uppercase;
    font-family: "Roboto";
    font-weight: 900;
    font-size: 1.3rem;
    color: white;
    letter-spacing: 0.0325rem;
}

header .navbar-inverse #myNavbar a.select{
    color: #00e0d0;
}

header h1{
    font-family: 'Playfair Display';
    color: white;
    font-weight: 900;
    font-size: 3.2rem;
    letter-spacing: 0.032rem;

    margin-top: 18rem;
}

header h1:after{
    content: "";
    display: block;
    margin:0 auto;
    width: 5rem;
    height: 0.1rem;
    margin-top:2.4rem;
    margin-bottom:2.4rem;
    
    background-color: #00e0d0;
}    

header p{
    font-family: 'Roboto';
    color: white;
    font-weight: 300;
    font-size: 1.4rem;
    letter-spacing: 0.07rem;
    line-height: 2.4rem;
}

header .slide{
    margin-top: 5rem;
}

header .slide ul{
    padding: 0;
    margin-top: 12.5rem;
    margin-bottom: 7rem;
}

header .slide ul li{
    color:white;
    display: inline-block;
    margin-left: .25rem;
    margin-right: .25rem;
}

header .slide ul a{
    display: block;
    border-radius: 4.5rem;
    width: 1rem;
    height: 1rem;

    background-color: transparent;
    border: .1rem solid #bbbabc;
    cursor: pointer;
}    

header .slide ul a.select{
    border: none;
    background-color: #00e0d0;
}

#works .col-sm-2,
#works .row{
    margin:0; 
    padding: 0;
}

#contact img{
    display: block;
}